*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.headerbackground{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    /* debug header 100% height cambiare in arancione */
    background-color: orange;
    margin: 0 auto;
}
                                    /* header */
.container-header-nav{
    width: 70%;
    padding: 10px;
    background-color: orange;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo>img{
    width: 150px;
}

.icon>a{
    text-decoration: none;
    color: white;
    padding: 5px;
}
.sezioni>a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px;
}

                                            /* fine header */
.container{
    width: 70%;
    margin:50px auto;
    position: relative;
    top:50px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.prodotto{
    margin: 10px;
    margin-bottom: 100px;
    height: 400px;
    width: calc(100% / 3 - 20px);
    background-color: grey;
    position: relative;
}
.marca{
    font-style: italic;
}
.name-item{
    font-weight: bold;
    font-size: 15px;
}
.prezzo-scontato{
    color: red;
    font-weight: bold;
    display: inline-block;
}
.prezzo-intero{
    text-decoration: line-through;
    display: inline-block;
}
/* label */
.label{
    height: 25px;
    color: white;
    text-align: center;
    padding: 2px;
    text-align: center;    
    margin: 1px 1px;
    border-radius: 10px;
    border: 1px solid grey;
}
.green{
    background-color: green;
    position: absolute;
    bottom: 20px;
    left: 50px;
}

.red{
    background-color: red;
    position: absolute;
    bottom: 20px;
    left: 0;
    font-weight: bold;
}
.label.green:nth-child(2){
    position: absolute;
    bottom: 20px;
    left: 0;
}
/* label */
/* cuore */
.heart{
    position: absolute;
    background-color: white;
    top: 10px;
    right: 0;
}
.heart:hover{
    color: red;
    cursor: pointer;
}
.heart>i{
    font-size: 30px;
}
/* cuore */

.prodotto:hover .imganteprima{
    display: none;  
}
.prodotto:hover .imgnascosta{
    display: block;  
}
.imgnascosta{
    display: none;
    width: 100%;
    height: 100%;
}
.imganteprima{
    width: 100%;
    height: 100%;
}
/* footer inizio */
.footerbackground{
    width: 100%;
    bottom: 0;
    background-color: black;
    margin: 0 auto;
}
.container-footer{
    width: 70%;
    padding: 20px;
    background-color: black;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info{
    color: white;
}
.info>a{
    text-decoration: none;
    color: white;
    padding-top: 50px;
    margin-right: 10px;
}
.icon>h4{
    color: white;
    text-align: center;
    margin-bottom: 5px;
}
/* footer finr */